<!DOCTYPE html>
<html  lang="Es">
<%- include('header') %>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('navbar') %>
<div class="title-container">
    <div class="page-title">
        <h1 class="title"><%= title %></h1>
        <p>Página de coches</p>
    </div>
    <form action="/search_car" method="GET">
        <label>
            <input type="number" name="id" placeholder="ID del coche">
        </label>
        <button type="submit">Search</button>
    </form>
</div>
<table class="table-main">
    <thead>
    <tr>
        <th class="table-cell">COCHE</th>
        <th class="table-cell">MARCA</th>
        <th class="table-cell">CILINDRADA</th>
        <th class="table-cell">POTENCIA</th>
        <th class="table-cell">PRECIO</th>
    </tr>
    </thead>
    <tbody>
    <% cars.forEach(function (car) { %>
    <tr>
        <td class="table-cell"><%= car.name %></td>
        <td class="table-cell"><%= car.brandName %></td>
        <td class="table-cell"><%= car.cylinder %></td>
        <td class="table-cell"><%= car.power %></td>
        <td class="table-cell"><%= car.price %></td>
        <td class="table-delete"><button class="button-delete" onclick="deleteElement(<%= car.id %>)">
                DELETE
            </button>
        </td>
        <td class="table-delete"><button class="button-update" onclick="updateElement(<%= car.id %>)">
                UPDATE
            </button>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<script>
    async function deleteElement(id){
        try {
            await $.ajax({
                url: '/api/cars/' + id,
                type: 'DELETE'
            });
            window.location.reload();
        } catch (e) {
            console.log('Error: ', e.status, e.statusText);
        }
    }

    $(document).ready(() =>{
        $('.button-delete').click(function() {
            const id = $(this).data('car-id');
            deleteElement(id);
        });
    });

    function updateElement(id) {
        window.location.href = '/update_car/' + id
    }
</script>
</body>
</html>