<!DOCTYPE html>
<html  lang="Es">
<%- include('header') %>
<body>
<%- include('navbar') %>
<h1 class="title"><%= title %></h1>
<p>Welcome to <%= title %></p>
<table>
    <thead>
    <tr>
        <th>COCHE</th>
        <th>MARCA</th>
    </tr>
    </thead>
    <tbody>
    <% cars.forEach(function (car) { %>
    <tr>
        <td><%= car.name %></td>
        <td><%= car.brandName %></td>
    </tr>
    <% }) %>
    </tbody>
</table>
</body>
</html>