<!DOCTYPE html>
<html  lang="Es">
<%- include('header') %>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('navbar') %>
<div class="page-title">
    <h1 class="title"><%= title %></h1>
    <p>Página de coches</p>
</div>
<table class="table-main">
    <thead>
    <tr>
        <th class="table-cell">MARCA</th>
        <th class="table-cell">PAÍS</th>
        <th class="table-cell">FUNDACIÓN</th>
        <th class="table-cell">FUNDADOR</th>
        <th class="table-cell">COCHE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-cell"><%= brand.name %></td>
        <td class="table-cell"><%= brand.country %></td>
        <td class="table-cell"><%= brand.year %></td>
        <td class="table-cell"><%= brand.founder %></td>
        <td class="table-cell"><%= brand.car %></td>
    </tr>
    </tbody>
</table>
</body>
</html>