<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
<%- include('navbar')%>
<h1> UPDATE CAR</h1>
<form class="form" action="/api/update_car/<%= car.id%>" method="POST">

    <input type="hidden" name="id" value="<%= car.id%>">
    <label for="id_name">Coche</label>
    <input id="id_name" type="text" name="name" value="<%= car.name %>" >

    <label for="brandName">Marca</label>
    <input id="brandName" type="text" name="brandName" value="<%= car.brandName %>" >

    <label for="cylinder">Cilindrada</label>
    <input id="cylinder" type="number" name="cylinder" value="<%= car.cylinder %>" >

    <label for="power">Potencia</label>
    <input id="power" type="number" name="power" value="<%= car.power %>" >

    <label for="price">Precio</label>
    <input id="price" type="number" name="price" value="<%= car.price %>" >

    <input type="submit" value="Update">

</form>
</body>
</html>